/* css styles */

/* Cambia colore di sfondo della navbar */
.navbar {
  background-color: #b30000 !important; /* rosso scuro */
}

/* Cambia il colore del brand (titolo del sito) */
.navbar .navbar-brand {
  color: white !important;
}

/* Cambia il colore dei link nella navbar */
.navbar-nav .nav-link {
  color: white !important;
}

/* Colore hover dei link */
.navbar-nav .nav-link:hover {
  color: #ffcccc !important;
}
